h1{
    color:wheat;
}
h2{
    color: rgb(227, 185, 129);
}
.h2{
    color:lightsalmon;
    font-size: xx-large;
    font-family: 'silkscreen',sans-serif;
    font-family: 'silkscreen Expanded',sans-serif;
}